.modal-container {
    margin: 2em;
    display: flex;
    overflow: scroll;
}

.full-screen {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
}

.modal-container .image {
    width: 50%;
    object-fit: contain;
}

.modal-container h4 {
    margin-bottom: 0;
}

.modal-container .floating-buttons {
    position: absolute;
    top: 1em;
    right: 1em;
}

.modal-container .floating-buttons .padding {
    margin-left: 1em;
}