.product-card {
    max-width: 250px;
    min-width: 150px;
    width: 250em;
    margin: 15px;
}

.product-card .media {
    height: 200px;
    object-fit: contain;
}

.product-card h2 {
    text-align: left;
}

.product-card h3 {
    text-align: left;
    margin-bottom: 0;
    font-style: italic;
}